<ng-container *ngIf="errorMessage">
  {{ errorMessage }}
</ng-container>


<div *ngIf="list">

  <p>
    Curated list fetched from <a href="{{ selectedList.repository.githubMainUrl }}" target="_blank">{{ selectedList.repository.path }}</a>
  </p>

  <table style="max-width: 100%">
    <thead>
    <tr>
      <th>Category</th>
      <th>Name</th>
      <th>Repository</th>
      <th>Stars</th>
      <th>Updated</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of list">
      <td>{{ item.categoryInfo && item.categoryInfo.fullPath }}</td>
      <td>{{ item.title }}</td>
      <td><a href="{{ item.repository.githubMainUrl }}" target="_blank">{{ item.repository.path }}</a></td>
      <td class="stars-count">{{ item.infoData.stargazers_count }}</td>
      <td style="white-space: nowrap">{{ item.lastUpdatedAt }}</td>
    </tr>
    </tbody>
  </table>
</div>
